* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.dark {
  background: #000;
  color: #fff;
}

.smooth {
  transition: all 0.3s ease;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-icons-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #64748b33;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.counter-box {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-1 {
  border-bottom: 1px solid #808080;
}

.value {
  font-size: 5rem;
  font-weight: 500;
}

/* ---- Theme Icons Wrapper Responsiveness ----  */
@media screen and (min-width: 1025px) {
  .theme-icons-wrapper {
    top: 32px;
    right: 32px;
  }
}