* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-box {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-1 {
  border-bottom: 1px solid #808080;
}

.value {
  font-size: 5rem;
  font-weight: 500;
}