/* ---- Universal Styles ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ---- Layout & Theme Styles ---- */
.container {
  max-width: 320px;
  margin: 0 auto;
}

.dark {
  background: #000;
  color: #fff;
}

.smooth {
  transition: all 0.3s ease;
}

body {
  overflow: hidden;
}

main {
  /* fallback for old browsers */
  min-height: 100vh;
  /* modern mobile browsers */
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- Theme Icons Wrapper ----  */
.theme-icons-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #64748b33;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ---- Main Section ----  */
.counter-box {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-1 {
  border-bottom: 1px solid #808080;
}

.value {
  font-size: 5rem;
  font-weight: 500;
}

/* ---- Face Expression ----  */
.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.eyes {
  display: flex;
  gap: 8px;
}

.eye {
  width: 48px;
  height: 51.6px;
  background-color: #ececec;
  border-radius: 50%;
  position: relative;
}

.eyeball {
  width: 18px;
  height: 18px;
  background-color: #444;
  border-radius: 50%;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
  width: 42px;
  height: 24px;
  border-top: 7.8px solid rgba(255, 215, 0, 0.5);
  border-radius: 50%;
  rotate: -10deg;
}

/* ---- Responsiveness ----  */
@media screen and (min-width: 1025px) {
  .theme-icons-wrapper {
    top: 32px;
    right: 32px;
  }
}